<script src="{{ 'wishlist.js' | asset_url }}" defer></script>


<section id="wishlist-sec">
  <div>
    <h1>Minha Lista de Desejos</h1>
    <p>Infelizmente nenhum produto foi adicionado :(</p>

    <wishlist-list></wishlist-list>
  </div>
</section>