.banner {
    padding-inline: 1rem;

    .swiper-button-next, .swiper-button-prev {
        background: none;
    }
    .swiper-pagination-bullet {
        background: #fff;
        opacity: 1;
        &.swiper-pagination-bullet-active {
            width: 10px;
            height: 10px;
            background-color: #e26e28;
        }
    }
    img {
        width: 100%;
        height: auto;
    }
}