.deals-with-icons {

    swiper-instance {
        border-radius: 8px;
    }

    .wrapper {
        /* display: grid;
        grid-template-columns: repeat(5, 1fr); */


        @media (min-width:1000px) {
            justify-content: space-around;
            padding: 1rem 0;
        }

        .card {
            text-align: center;

            @media (max-width:1000px) {
                background-color: #fff;
                border-radius: 8px;
                padding: 1rem 0;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: .35rem;
                text-align: start;

            }

            .content {
                font-size: 14px;
                line-height: 1.5;

                strong {
                    text-transform: uppercase;
                    font-weight: 600;
                }
            }
        }
    }
}