.arrows-outside {

    .swiper-button-next,
    .swiper-button-prev {

        @media (max-width:1023px) {
            display: none !important;
        }
    }
}

.infocard-caroussel-section {

    .swiper-button-next,
    .swiper-button-prev {
        transform: translateY(12%);
    }

    .swiper-slide {
        height: auto !important;

        .infocard-wrapper {
            height: 100%;
        }

        .infocard-wrapper:not(:has(a)),
        .infocard-wrapper a {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            height: 100%;
        }

        p {
            font-size: clamp(14px, 1.8vw, 18px);
            font-weight: 500;
            line-height: 1.5;
            font-family: 'effra-md';
            text-align: center;
            margin-bottom: auto;
        }
    }

    swiper-instance {
        img {
            display: block;
            height: auto;
            width: 100%;
            object-fit: cover;
        }
    }
}

.featured-collection {

}