html {
    scroll-behavior: smooth;
}

.breadcrumb {
    display: flex;
    align-items: center;
    gap: 1rem;

    * {
        font-size: 12px;
    }

    .home {
        color: #95908A;
    }
}

#product {

    .wrapper-product {
        display: flex;
        align-items: flex-start;
        gap: 1rem;
        justify-content: space-between;

        @media (max-width:1000px) {
            display: block;
        }


        >div {
            flex: 1;

            &.right-side-product {

                @media (max-width:1000px) {
                    margin-top: 2rem;
                }

                @media (min-width:1001px) {
                    max-width: 654px;
                }
            }
        }

        .left-side-product {
            min-width: 1px;

            @media (min-width:1001px) {
                min-width: 556px;
            }

            .product-media {
                background-color: #fff;
                border-radius: 16px;
                padding: 1rem;
                position: relative;

                @media (max-width:1000px) {
                    /* min-height: 500px; */

                }


                wishlist-btn {
                    position: absolute;
                    right: 1rem;
                    cursor: pointer;
                    z-index: 2;

                    svg {
                        transition: all .3s ease;
                    }

                    &[data-wishlist="true"] {
                        svg {
                            fill: #BA1A1A;
                        }
                    }
                }


                .zoom-container {
                    position: relative;
                    overflow: hidden;
                    cursor: zoom-in;
                    width: 100%;
                    height: 100%;

                    .zoom-image {
                        width: 100%;
                        height: auto;
                        transition: transform 0.3s ease;
                        transform-origin: center center;
                        display: block;
                        will-change: transform;
                    }
                }


                @media (max-width: 768px) {

                    /* Desativa zoom em telas menores */
                    .zoom-container {
                        cursor: default;
                    }

                    .zoom-image {
                        transform: none !important;
                    }
                }

                #thumbs-slider {
                    position: absolute;


                    @media (max-width:1000px) {
                        width: 100%;
                        z-index: 2;
                        bottom: 58px;
                        left: 0;

                        .swiper-wrapper {
                            justify-content: center;
                            align-items: center;
                        }
                    }

                    .swiper-slide {
                        border: 1px solid #e8e1db;
                        border-radius: 4px;
                        padding: .25rem;
                        cursor: pointer;

                        @media (max-width:1000px) {
                            max-width: 58px;

                            .image-thumb {
                                display: flex;

                                img {
                                    width: 100%;
                                    height: auto;
                                }
                            }
                        }

                        &.swiper-slide-thumb-active {
                            border: 1px solid #EB7631;
                        }
                    }
                }

                #main-product-img {

                    @media (min-width:1000px) {
                        margin-left: 60px;

                    }

                    img {
                        width: 100%;
                        object-fit: contain;
                        height: auto;
                    }
                }

                .nivel-resistencia {
                    position: absolute;
                    display: flex;
                    gap: .5rem;
                    width: 100%;
                    left: 0;
                    justify-content: center;
                    bottom: 16px;
                    background: #fff;
                    z-index: 1;
                    padding-top: 1rem;

                    p {
                        font-size: 14px;
                        line-height: 1.5;
                        color: #2D2A26;
                    }

                    .wrapper {
                        position: relative;

                        .wrapper-svg {
                            display: flex;
                        }

                        .triangle {
                            position: absolute;
                            bottom: -9.5px;
                        }
                    }
                }
            }
        }
    }

    .buy-together {
        background-color: #fff;
        border-radius: 16px;
        padding: 1rem;
        margin-top: 2rem;

        h3 {
            font-size: 22px;
            font-family: 'effra-b';
            color: #2D2A26;
            padding-bottom: 1.5rem;
        }

        .wrapper {
            display: grid;
            grid-template-columns: repeat(5, auto);
            align-items: center;
            gap: .35rem;

            @media (max-width:767px) {
                display: flex;
                flex-direction: column;
                gap: .60rem;

                .svg-wrapper {
                    width: 40px;
                    height: 40px;
                }

                .shelf-component {
                    >a {
                        display: grid;
                        grid-template-columns: repeat(2, auto);
                        gap: .5rem;

                        .title-product {
                            grid-area: 1/2/1/2;
                            height: fit-content;

                            p {
                                min-height: 56px;
                                height: 57px;
                            }
                        }

                        .price {
                            grid-area: 1/2/1/2;
                            margin-top: 24px;
                        }
                    }
                }
            }


            @media (max-width:1000px) {

                .space,
                .nivel-resistencia,
                .second-image {
                    display: none;
                }
            }

            .img-wrapper {
                max-width: 220px;

                @media (max-width:1000px) {
                    width: 100%;
                }

                img:first-child {
                    transform: translateX(0);
                    opacity: 1 !important;
                }

                &:hover {
                    img.second-image {
                        transform: translateX(-92%);
                    }

                }

            }

            .spot-price,
            .quick-add {
                display: none;
            }

            .pix-price {
                p:first-child {
                    font-size: 16px;
                }
            }

            .info-price-btg {
                height: 100%;
                background-color: #2D2A26;
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 1rem;

                @media (min-width:1250px) {
                    width: 177px;
                }

                @media (max-width:1300px) and (min-width:1000px) {
                    width: 140px;
                }

                @media (max-width:1000px) {
                    width: 100%;
                }




                >p,
                &.mobile div>p {
                    color: #fff;
                    font-size: 18px;
                    font-family: 'effra-b';
                    text-align: center;
                }


                &.mobile {
                    gap: 1.35rem;

                    >div:first-child {
                        display: flex;
                        gap: .55rem;
                        height: 77px;
                        align-items: center;
                        justify-content: space-between;

                        * {
                            font-size: 14px;
                        }

                        .price-accumulate {
                            padding-inline: .5rem;
                        }

                        .accumulate-value {
                            color: #2D2A26;
                        }
                    }
                }

                .price-accumulate {
                    background-color: #fff;
                    height: 100%;
                    max-height: 109px;
                    border-radius: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    p {
                        text-align: center;
                        font-size: 16px;
                        font-family: 'effra-b';
                    }
                }

                .buy-area {
                    --color-button: #388E3B;

                    button {
                        width: 100%;
                        border-radius: 12px;
                        height: 55px;
                        font-size: 16px;
                        font-family: 'effra-md';
                    }
                }
            }
        }
    }

    .product-extra-info {
        background-color: #fff;
        border-radius: 16px;
        padding: 1rem;
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        details {
            border-bottom: 1px solid #C9C6C5;
            padding-bottom: .65rem;
            padding-top: 1rem;

            summary {
                display: flex;
                align-items: center;
                justify-content: space-between;
                cursor: pointer;


                &::marker {
                    display: none;
                }

                p {
                    font-family: 'effra-b';
                    font-size: 18px;
                }
            }

            .content {
                overflow: auto;
                max-height: 500px;
                padding-top: 1rem;
                padding-right: 1rem;
            }
        }
    }
}

@keyframes go-up {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-20px);
    }
}