.wrapper-menu-categories {
    margin-bottom: 1rem;

    .category-menu {
        background: #2D2A26;
        color: #fff;
        padding: .85rem 0;

        a {
            color: inherit;
            font-size: 16px;
            text-transform: uppercase;
            font-weight: 400;
        }

        .menu-first-level {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 12rem;

            &:hover {
                .menu-second-level {
                    display: block;


                }
            }


            @media (min-width:1000px) {
                .menu-second-level {
                    position: absolute;
                    background: #2d2a26;
                    width: fit-content;
                    padding: 1rem;
                    display: none;

                    max-height: 40dvh;
                    overflow-y: auto;
                    z-index: 2;

                    &:has(li:nth-child(2)) {
                        li {
                            padding: .25rem 0;
                        }
                    }
                }
            }

        }

    }
}