 .wishlistS h1 {
    margin-bottom: 2rem;
  }

.wishlist-products-wrapper {
    display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 2rem;


  .wishlist-card {
    display: flex;
  flex-direction: column;
  height: 100%;
  background: #fff;
  border: 1px solid #E8E1DB;
  padding: 1rem;
  border-radius: 8px;
  overflow: hidden;
  justify-content: space-between;
  }
  img {
    display: block;
    height:auto;
    width:100%;
  }
  button {
    width: 100%;
  background: red;
  color: #fff;
  border-radius: 6px;
  height: 42px;
  font-size: 17px;
  margin-top: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  }
}